<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Spots For Rocks - Take your Pet Rock with you on an adventure</title>
    <meta name="author" content="Rach Ilagan">
    <meta name="description"
        content="Find the perfect spot to bring your Pet Rock. Spots for Rocks aims to give you the perfect destination with your best friend.">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="/stylesheet/main.css">
    <link rel="stylesheet" href="/simplelightbox/dist/simplelightbox.min.css">
    <script src="https://kit.fontawesome.com/ff8aa25079.js"></script>
</head>

<body>
    <div id="holder">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark my-nav-color">
            <div class="container font-weight-bold">
                <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/spots">Spots</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/r-ilagan/spots-for-rocks"
                                target="_blank">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="mx-auto order-0">
                    <a class="navbar-brand mx-auto" href="#"><i class="fas fa-binoculars"></i> Spots for Rocks</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/users/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/users/register">Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>