<? include ../partials/header ?>

<div class="container">
  <h1>Add a new comment to</h1>
  <div class="card h-90 my-3 shadow">
    <div class="card-body">
      <h3 class="card-title font-weight-bold text-center"><?= spot.name ?></h3>
      <hr>
      <h4 class="card-subtitle mb-1"><span><i class="far fa-user"></i></span> <?= spot.author.username ?></h4>
      <p class="card-text text-muted"><span><i class="far fa-clock"></i></span> <?= spot.createdAt.toDateString()?>
      </p>
      <img class="card-img-top img-fluid mx-auto d-block"
        onerror="this.onerror=null;this.src='../../assets/images/default_img.jpg';" src="<?= spot.image ?>"
        alt="<?= spot.name ?>">
      <p class="card-text line-clamp mt-2"><?= spot.description ?></p>
    </div>
  </div>
  <hr>
  <form action="/spots/<?= spot._id ?>/comments/<?= comment._id ?>?_method=PUT" method="POST">
    <div class="form-group">
      <label for="name" class="font-weight-bold">Message</label>
      <textarea name="text" class="form-control" required><?= comment.text ?></textarea>
    </div>
    <input type="submit" value="Submit" class="btn btn-outline-primary mb-3">
  </form>
  <a href="/spots/<?= spot._id ?>" class="btn btn-outline-warning mb-3">Cancel</a>

</div>

<? include ../partials/footer ?>