html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  padding-top: 56px;
}

.my-nav-color {
  background: #2b2b2b !important;
}

.section-a {
  margin-top: 2%;
  margin-bottom: 13%;
}

h1,
h2,
h3 {
  line-height: 1.3;
}

.section-a .text-desc {
  font-size: 1.2rem;
}

.section-b {
  position: relative;
  background-image: url('../assets/images/background_section-b.jpg');
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url('../assets/images/background_section-b.jpg') no-repeat bottom
      center/cover;
  height: 600px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

@media only screen and (max-width: 468px) {
  .section-b {
    height: 800px;
  }
}

.section-b .outer {
  color: white;
}

.section-b .inner {
  margin: auto;
  padding: 5rem 0;
}

.section-b h2 {
  padding: 2rem;
}

.section-b .text-desc {
  font-size: 1.3rem;
  padding: 3rem;
}

.fit-image {
  width: 100%;
  object-fit: cover;
  height: 250px; /* only if you want fixed height */
}

.gallery .first-img {
  width: 100%;
  object-fit: cover;
  height: 500px;
}

.footer {
  color: white;
}

.footer a {
  color: inherit;
}

.footer .row hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  width: 50%;
}

#holder {
  min-height: 100%;
  position: relative;
}

.footer {
  left: 0;
  position: absolute;
  right: 0;
}

textarea {
  height: 10rem;
}

/* Spots.ejs */
.card-text {
  white-space: pre-wrap;
}

.card .index-spot img {
  height: 200px;
}

.shadow {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.shadow:hover {
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
    0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

.jumbotron span i {
  float: left;
  padding-right: 1.5rem;
}

#show-card .card-body {
  max-height: 20rem;
}

.line-clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
