<? include partials/header ?>
<!-- Showcase -->
<section>
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-4">
                <h1 class="display-4 text-left main-text">A spot for your Pet Rock.</h1>
                <p class="text-desc text-justify mt-4">Find the perfect place to hangout with your favourite pet.
                    Whether it's
                    hiking,
                    swimming or taking a brisk walk beside the beach, there's always a spot for your little friend.
                </p>
                <a class="btn btn-primary p-1 mt-3" href="#">Read More</a>
            </div>
            <div class="col-lg-8">
                <img class="img-fluid ml-3" src="../assets/images/pet_rock.png" alt="Pet Rock">
            </div>
        </div>
    </div>
</section>

<!-- Text -->

<? include partials/footer ?>