<? include partials/header ?>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-2">A place to bring your Pet Rock.</h1>
        </div>
        <div class="col-md-6">
            <img class="image-fluid"
                src="https://images2.minutemediacdn.com/image/upload/c_fill,g_auto,h_1248,w_2220/f_auto,q_auto,w_1100/v1555444935/shape/mentalfloss/pet-rock_1.png"
                alt="Pet Rock">
        </div>
    </div>
</div>

<? include partials/footer ?>