<? include partials/header ?>
<div class="container">
    <div class="jumbotron">
        <h1>Spot The Rocks</h1>
        <hr>
        <p>Places to take your Pet Rock with you</p>
    </div>
</div class="container">

<? include partials/footer ?>