<? include partials/header ?>
<div class="container">
    <div class="row">
        <div class="col-6">
            <h1 class="display-3">A spot for your Pet Rock.</h1>
            <p class="text-desc">Find the perfect spot to hangout with your favourite pet.</p>
        </div>
        <div class="col-6">
            <img class="img-fluid" src="../assets/images/pet_rock.png" alt="Pet Rock">
        </div>
    </div>
</div>

<? include partials/footer ?>