<? include partials/header ?>
<!-- Showcase -->
<section class="section-a" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h2 class="display-3 font-weight-bold text-left main-text mt-5">A spot for your Pet Rock.</h1>
                    <p class="text-desc text-justify mt-4">Find the perfect place to hangout with your favourite pet.
                        Whether it's
                        hiking,
                        swimming or taking a brisk walk beside the beach, there's always a spot for your little friend.
                    </p>
                    <a class="btn btn-primary p-1 mt-3" href="#">Read More</a>
            </div>
            <div class="col-lg-8">
                <img class="img-fluid ml-3 mt-5 pt-1" src="../assets/images/pet_rock.png" alt="Pet Rock">
            </div>
        </div>
    </div>
</section>

<!-- Text -->
<section class="section-b">
    <div class="container outer">
        <div class="inner text-center">
            <h3 class="mt-5 text-5 display-4">Peaceful or Noisy</h3>
            <h2 class="main-text display-2 font-weight-bold">It's Your Choice</h2>
            <p class="text-desc mt-4 ">Pick a spot you will like to take your Pet Rock for a walk. Near a
                beautiful
                gorge, a gorgeous waterfall, a steep hill, or even your local mall. The choice is yours.
            </p>
        </div>
    </div>
</section>

<!-- Gallery -->
<section>

</section>
<? include partials/footer ?>