<? include ../partials/header ?>

<div class="container">
  <h1>Edit: <?= spot.name ?></h1>
  <hr>
  <form action="/spots/<?= spot._id ?>/?_method=PUT" method="POST">
    <div class="form-group">
      <label for="image" class="font-weight-bold">Image</label>
      <input class="form-control" type="text" name="image" value="<?= spot.image ?>" required>
    </div>
    <div class="form-group">
      <label for="place" class="font-weight-bold">Place</label>
      <input class="form-control" type="text" name="place" value="<?= spot.name ?>" required>
    </div>
    <div class="form-group">
      <label for="description" class="font-weight-bold">Tell Us Your Story</label>
      <textarea class="form-control" name="description" spellcheck="true" required><?= spot.description ?></textarea>
    </div>
    <div class="form-group">
      <input class="btn btn-outline-primary" type="submit" value="Submit">
    </div>
  </form>
  <a href="/spots/<?= spot._id ?>" class="btn btn-outline-warning">Cancel</a>
</div>

<? include ../partials/footer ?>