<? include ../partials/header ?>

<div class="container">

  <? include ../partials/messages ?>

  <img src="<?= spot.image ?>" class="img-fluid card-img-top mx-auto d-block"
    onerror="this.onerror=null;this.src='../../assets/images/default_img.jpg';" alt="<?= spot.name ?>">
  <div class="card mb-5" id="show-card">
    <div class="card-body">
      <h3 class="font-weight-bold text-capitalize text-center card-title"><?= spot.name ?></h3>
      <hr>
      <h4 class="card-subtitle mb-3"><?= spot.author.username ?></h4>
      <p class="card-text text-muted"><span><i class="far fa-clock"></i></span> <?= spot.createdAt.toDateString() ?></p>
      <? if(spot.wasUpdated) { ?>
      <p class="card-text text-muted font-italic">Last updated: <?= spot.updatedAt.toDateString()?></p>
      <? } ?>
      <p class="card-text"><?= spot.description ?></p>
      <div class="d-flex">
        <a href="/spots" class="btn btn-info mr-auto p2">Go Back</a>
        <? if(currentUser && spot.author.id.equals(currentUser._id)) { ?>
        <a href="/spots/<?= spot._id ?>/edit" class="btn btn-warning mr-2">Edit</a>
        <form action="/spots/<?= spot._id ?>/?_method=DELETE" method="POST">
          <input type="submit" class="btn btn-danger" value="Delete">
        </form>
        <? } ?>
      </div>
    </div>
  </div>

  <div class="container border mb-3">
    <a href="/spots/<?= spot._id ?>/comments/new" class="btn btn-success btn-sm my-3">Add Comment</a>

    <div class="container mb-3">
      <ul class="list-group">
        <? spot.comment.forEach( comment => { ?>
        <li class="list-group-item">
          <h5 class="font-weight-bold mr-auto"><?= comment.author.username ?></h5>
          <div class="d-flex">
            <p class="text-muted mr-2 h6"><?= comment.createdAt.toDateString() ?></p>
            <? if(comment.wasEdited){ ?>
            <p class="text-muted font-italic h6">(Edited)</p>
            <? } ?>
          </div>
          <p class="comments"><?= comment.text ?></p>

          <? if(currentUser && comment.author.id.equals(currentUser.id)) { ?>
          <div class="d-flex justify-content-left">
            <a href="/spots/<?= spot._id ?>/comments/<?= comment._id ?>/edit"
              class="btn btn-warning btn-sm mr-2">Edit</a>
            <form action="/spots/<?= spot._id ?>/comments/<?= comment._id ?>/?_method=DELETE" method="POST">
              <input type="submit" value="Delete" class="btn btn-danger btn-sm">
            </form>
          </div>
          <? } ?>
        </li>
        <? }) ?>
      </ul>
    </div>
  </div>
</div>

<? include ../partials/footer ?>