<? include ../partials/header ?>

<div class="container">
  <img src="<?= spot.image ?>" class="img-fluid card-img-top mx-auto d-block"
    onerror="this.onerror=null;this.src='../../assets/images/default_img.jpg';" alt="<?= spot.name ?>">
  <div class="card mb-5" id="show-card">
    <div class="card-body">
      <h3 class="font-weight-bold text-capitalize text-center card-title"><?= spot.name ?></h3>
      <hr>
      <h4 class="font-weight-bold card-subtitle mb-3"><?= spot.author ?></h4>
      <p class="card-text text-muted"><span><i class="far fa-clock"></i></span> <?= spot.createdAt.toDateString() ?></p>
      <? if(spot.wasUpdated) { ?>
      <p class="card-text text-muted ">Last updated: <?= spot.updatedAt.toDateString()?></p>
      <? } ?>
      <p class="card-text"><?= spot.description ?></p>
      <div class="d-flex">
        <a href="/spots" class="btn btn-info mr-auto p2">Go Back</a>
        <a href="/spots/<?= spot._id ?>/edit" class="btn btn-warning p2 mr-2">Edit</a>
        <form action="/spots/<?= spot._id ?>/?_method=DELETE" method="POST">
          <input type="submit" class="btn btn-danger p2" value="Delete">
        </form>
      </div>
    </div>
  </div>

  <div class="container border mb-3">
    <a href="/spots/<?= spot._id ?>/comments/new" class="btn btn-success btn-sm my-3">Add Comment</a>

    <div class="container mb-3">
      <ul class="list-group">
        <? spot.comment.forEach( comment => { ?>
        <li class="list-group-item">
          <h5 class="font-weight-bold mr-auto"><?= comment.author ?></h5>
          <p class="text-muted"><?= comment.createdAt.toDateString() ?></p>
          <p class="comments"><?= comment.text ?></p>

          <div class="d-flex">
            <a href="" class="btn btn-warning btn-sm mr-2">Edit</a>
            <a href="" class="btn btn-danger btn-sm">Delete</a>
          </div>
        </li>
        <? }) ?>
      </ul>
    </div>
  </div>
</div>

<? include ../partials/footer ?>