<? include ../partials/header ?>

<div class="container">
  <div class="jumbotron">
    <span><i class="fas fa-hiking fa-10x"></i></span>
    <h1 class="font-weight-bold">Welcome to the Community</h1>
    <h2>Found a nice spot?</h2>
    <a href="/spots/new" class="btn btn-primary">Let us know where!</a>
  </div>

  <div class="row">
    <? spots.forEach( function(spot) {?>
    <div class="col-md-4">
      <div class="card h-90 my-3 shadow">
        <div class="card-body">
          <h3 class="card-title font-weight-bold text-center"><?= spot.name ?></h3>
          <hr>
          <h4 class="card-subtitle mb-1"><span><i class="far fa-user"></i></span> <?= spot.author ?></h4>
          <p class="card-text"><span><i class="far fa-clock"></i></span> <?= spot.createdAt.toDateString() ?></p>
          <img class="card-img-top img-fluid mx-auto d-block"
            onerror="this.onerror=null;this.src='../../assets/images/default_img.jpg';" src="<?= spot.image ?>"
            alt="<?= spot.name ?>">
          <p class="card-text line-clamp mt-2"><?= spot.description ?></p>
          <a href="/spots/<?= spot._id ?>" class="btn btn-info">More Info</a>
        </div>
      </div>
    </div>
    <? }); ?>
  </div>

</div>

<? include ../partials/footer ?>